<div class="container">
    <header class="header">
        <span></span>
        <div class="view-icons">
            <i class="fa fa-close" (click)="closePopup()"></i>
        </div>
    </header>
  <div class="package-offer">
      <img [src]="Image" loading="lazy" alt="Taj Mahal" class="package-image">
      <div class="package-details">
          <h2>Get the best offers on India Packages</h2>
          <p><strong>India Packages</strong></p>
          <p>Starting {{amount | currency :'INR'}} only/-</p>
      </div>
  </div>
  <div class="quote-form">
      <input type="text" placeholder="Enter Name" required>
      <div class="mobile-input">
          <span class="country-code">+91</span>
          <input type="tel" placeholder="Enter Mobile" required>
      </div>
      <input type="email" placeholder="Enter Email ID" required>
    </div>
  <p class="disclaimer">*Final prices will be shared by our partner agents based on your requirements.</p>
  <div class="proceed">
    <button class="pay-now">Get Package <i class="fa fa-briefcase"></i></button>
</div>
</div>