
.container{
    padding: 20px !important;
    background-color: #fff;
    border-radius: 10px !important;
    left: 0;
    right: 0;
    top: -970px;
    position: absolute;
    z-index: 20;
    transition: all 0.5s;
    -webkit-transition: all 0.7s;

}

.active{
    left: 0;
    right: 0;
    top: -0%;
    padding-bottom: 130px !important;
}

.package-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.package-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.package-details {
    text-align: center;
    margin-top: 15px;
}

.package-details h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
    font-weight: 900;
}

.package-details p {
    margin: 5px 0;
}

.quote-form {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.quote-form input[type="text"],
.quote-form input[type="email"],
.quote-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: unset;

}

.mobile-input {
    display: flex;
    align-items: center;
}

.country-code {
    padding: 11.5px;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

.mobile-input input[type="tel"] {
    flex: 1;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

.contact-method {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-method label {
    font-size: 14px;
    color: #555;
}


.disclaimer {
    font-size: 12px;
    color: #888;
    text-align: center;
    margin-top: 10px;
}


.proceed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.proceed .pay-now {
    background-color: #777;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    width: 90%;
    padding: 20px;
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 25px;

    .fa {
        font-size: 15px;
        color: #fff;
    }
}

