<div class="trial-banner" routerLink="/membership-plan">
  <div class="trial-text">
      <h2>Unlock Premium Features</h2>
      <p>Subscribe now and get access to exclusive content, advanced features, and more!</p>
      <ul class="benefits-list">
        <li>Ad-free experience</li>
        <li>Unlimited access</li>
        <li>Priority support</li>
    </ul>
      <button>Subscribe Now</button>
  </div>

  <div class="trial-image">
      <img src="assets/places/Location.jpg" alt="Tourism Image">
  </div>
</div>