
<div class="container">
    <header>
        <i class="fa fa-angle-left" routerLink="/"></i>
    </header>
    <header class="header">
        <h2>Membership Plan</h2>
        <div class="view-icons">
            <i class="fa fa-cog" ></i>
        </div>
    </header>
    <div class="membership-options">
        <label class="membership-card monthly {{memvershipPlan.monthly?'active':''}}" (click)="activateCard('monthly','8')">
            <input type="radio" name="membership" value="monthly">
            <img src="assets/{{memvershipPlan.monthly?'check':'uncheck'}}-circle.svg" alt="Monthly Icon">
            <div class="details">
                <h2>By Monthly</h2>
                <p>Enjoy a month of library learning and word learning treasure in this grade.</p>
                <p class="price">$8</p>
            </div>
        </label>
        <label class="membership-card yearly {{memvershipPlan.yearly?'active':''}}" (click)="activateCard('yearly','128')">
            <input type="radio" name="membership" value="yearly">
            <img src="assets/{{memvershipPlan.yearly?'check':'uncheck'}}-circle.svg" alt="Yearly Icon">
            <div class="details">
                <h2>By Year</h2>
                <p>Enjoy a year of library learning and word learning treasures in this grade.</p>
                <p class="price">$128</p>
            </div>
        </label>
        <label class="membership-card lifetime {{memvershipPlan.lifetime?'active':''}}" (click)="activateCard('lifetime','328')">
            <input type="radio" name="membership" value="lifetime">
            <img src="assets/{{memvershipPlan.lifetime?'check':'uncheck'}}-circle.svg" alt="Lifetime Icon">
            <div class="details">
                <h2>Lifetime card</h2>
                <p>Enjoy lifelong library learning and word learning treasures in this grade.</p>
                <p class="price">$328</p>
            </div>
        </label>
    </div>

    <div class="proceed">
        <button class="pay-now">Pay Now {{totalprice | currency}}</button>
    </div>

</div>
