.membership-options {
    display: grid;
    gap: 8px;
    margin-bottom: 15px;
}

.membership-card {
    display: flex;
    align-items: center;
    background-color: #59b0fd9c;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: border-color 0.3s;
    h2,
    p,
    .price {
        color: #fff;
        font-weight: 900;
    }
}

.membership-card img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.membership-card .details {
    flex-grow: 1;
}

.membership-card h2 {
    font-size: 14px;
    margin: 10px 0;
}

.membership-card p {
    margin: 5px 0;
    font-size: 12px;
}

.membership-card .price {
    font-size: 14px;
    font-weight: bold;
}

.membership-card input[type="radio"] {
    display: none;
}

.membership-card.active {
    background-color: #59b0fd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    h2,
    p,
    .price {
        color: #fff;
        font-weight: 900;
    }
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.proceed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.proceed .pay-now {
    background: #59b0fd;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    width: 90%;
    padding: 20px;
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 25px;

    .fa {
        font-size: 15px;
        color: #fff;
    }
}

.fa {
    font-weight: 900;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: -3px;
  }
  
  .ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    right: -5px;
    top: 15px;
    width: 120px;
    float: right;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  }
  
  .ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;   
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
  }
  
  .ribbon-green:before {
    left: 0;
  }
  .ribbon-green:after {
    right: 0;
  }
  b{
    font-weight: 200;
  }
  .fa{
    font-weight: 900;
  }