<div class="container">
    <h2>Popular Cities in India</h2>
    <div class="city-grid">
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/TajMahal.jpg" alt="Taj Mahal">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/Jaipur.jpg" alt="Jaipur">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/SwaminarayanAkshardham.jpg" alt="Swaminarayan Akshardham">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/GoldenTemple.jpg" alt="Golden Temple">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/HumayunTomb.jpg" alt="Golden Temple">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/TirumalaTemple.jpg" alt="Tirumala Temple">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/ISKCON.jpg" alt="ISKCON Temple Bangalore">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/GurudwaraBanglaSahib.jpg" alt="Gurudwara Bangla Sahib">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/AgraFort.jpg" alt="Agra Fort">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/Elefantastic.jpg" alt="Elefantastic">
        </div>
    </div>
</div>