<div class="container">
    <div class="header mb-3">
        <i class="fa fa-angle-left" routerLink="/"></i>
    </div>
    <div class="city-grid">
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/TajMahal.jpg" alt="Taj Mahal">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/Jaipur.jpg" alt="Jaipur">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/SwaminarayanAkshardham.jpg" alt="Swaminarayan Akshardham">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/GoldenTemple.jpg" alt="Golden Temple">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/HumayunTomb.jpg" alt="Golden Temple">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/TirumalaTemple.jpg" alt="Tirumala Temple">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/ISKCON.jpg" alt="ISKCON Temple Bangalore">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/GurudwaraBanglaSahib.jpg" alt="Gurudwara Bangla Sahib">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/AgraFort.jpg" alt="Agra Fort">
        </div>
        <div class="city-card" routerLink="/watch">
            <img src="assets/places/Elefantastic.jpg" alt="Elefantastic">
        </div>
    </div>
    <div class="proceed bottom-fixed">
        <p class="filter-info">Filter Locations & Budget</p>
      <div class="filters">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected> Location</option>
            <option value="Taj Mahal">Taj Mahal</option>
            <option value="Jaipur">Jaipur</option>
            <option value="Swaminarayan Akshardham">Swaminarayan Akshardham</option>
            <option value="Golden Temple">Golden Temple</option>
            <option value="Humayun Tomb">Humayun Tomb</option> <!-- Corrected this one -->
            <option value="Tirumala Temple">Tirumala Temple</option>
            <option value="ISKCON Temple Bangalore">ISKCON Temple Bangalore</option>
            <option value="Gurudwara Bangla Sahib">Gurudwara Bangla Sahib</option>
            <option value="Agra Fort">Agra Fort</option>
            <option value="Elefantastic">Elefantastic</option>
        </select>
        
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Price range</option>
            <option *ngFor="let data of prices" [value]="data">{{data | currency : 'INR'}}</option>
        </select>
      </div>
    </div>
</div>