<div class="container">
    
        <nav class="breadcrumb">
            <i class="fa fa-arrow-left"  routerLink="/course"></i>
        </nav>
    <div class="folders">
        <div class="folder active">
            <i class="fa fa-video"></i>
            <h2>Video</h2>
            <p>289 Items</p>
        </div>
    </div>

    <nav class="breadcrumb">
        <span>Last Update - 16 May 2024</span> 
    </nav>


    <div class="categories">

        <div class="category" routerLink="/watch">
            <div class="icon">
                <i class="fa fa-play"></i>
            </div>
            <div class="details">
                <h2>जादुई बर्फ की बिरयानी | Hindi Kahaniya | Moral Stories | Bedtime Stories | Story In Hindi</h2>
                <p>Cartoon for kids</p>
            </div>
            <!-- <i class="fa fa-ellipsis-v options"></i> -->
        </div>
        <div class="trial-banner">
            <div class="trial-text">
                <h2>7 Days Free Trial</h2>
                <p>Lorem ipsum dolor amet consectetuer adipiscing elit enean commodo.</p>
                <button>Join</button>
            </div>
            <div class="trial-image">
                <img src="assets/100.png" alt="Trial Image">
            </div>
        </div>
        <div class="category" routerLink="/watch">
            <div class="icon">
                <i class="fa fa-play"></i>
            </div>
            <div class="details">
                <h2>
                    बुढ़िया बनी डॉक्टर | Hindi Kahaniya | Moral Stories | Bedtime Stories | Story In Hindi
                </h2>
                <p>Cartoon for kids</p>
            </div>
            <!-- <i class="fa fa-ellipsis-v options"></i> -->
        </div>
        <div class="category" routerLink="/watch">
            <div class="icon">
                <i class="fa fa-play"></i>
            </div>
            <div class="details">
                <h2>
                    राजस्थानी बहू की Special थाली | Hindi Kahaniya | Moral Story | Saas Bahu | Bedtime Stories
                </h2>
                <p>Cartoon for kids</p>
            </div>
            <!-- <i class="fa fa-ellipsis-v options"></i> -->
        </div>
    </div>
</div>