<div class="overlay {{active?'active':''}}"></div>
<div class="sidebar {{active?'active':''}}">
    <div class="sidebar-header">
        <h2>Menu</h2>
        <i class="fa fa-close" (click)="this.active = !this.active"></i>
    </div>
    <div class="sidebar-menu">
        <a href="#"><i class="fa fa-user"></i>Profile</a>
        <a href="#"><i class="fa fa-cog"></i>Settings</a>
        <a href="#"><i class="fa fa-sign-out"></i>Logout</a>

    </div>
</div>

<div class="coverer">
    <header>
        <i class="fa fa-bars menu-icon" (click)="this.active = !this.active"></i>
        <i class="fa fa-bell notification-icon"></i>
    </header>
    <main>
        <section class="welcome">
            <h1>Explore</h1>
            <p>Find the place for yourself</p>
            <app-banner></app-banner>
        </section>
        <section class="subjects">
            <h2>Places</h2>
            <div class="subject-tags">
                <button *ngFor="let data of places;" (click)="setAllActive(); data.active = true"
                    [class]="data.active?'active':''">{{data.name}}</button>
            </div>
        </section>
        <section class="popular-courses">
            <div class="courses">
                <div class="course-card" routerLink="/cities"
                    style="background-image: url('assets/places/India.jpg');background-size: cover;">
                    <button>India <i class="fa fa-map-marker"></i></button>
                </div>
                <div class="course-card" routerLink="/cities"
                    style="background-image: url('assets/places/Span.jpg');background-size: cover;">
                    <button>Span <i class="fa fa-map-marker"></i></button>
                </div>
                <div class="course-card" routerLink="/cities"
                    style="background-image: url('assets/places/Maldives.jpg');background-size: cover;">
                    <button>Maldives <i class="fa fa-map-marker"></i></button>
                </div>
                <div class="course-card" routerLink="/cities"
                    style="background-image: url('assets/places/French Polynesia.jpg');background-size: cover;">
                    <button>French Polynesia <i class="fa fa-map-marker"></i></button>
                </div>
            </div>
        </section>
        <app-banner></app-banner>
        <section class="popular-courses">
            <h2>Recent Travel Plans</h2>
            <div class="courses">
                <div class="course-card" routerLink="/watch"
                    style="background-image: url('assets/places/Goa.jpg');background-size: cover;">
                    <button>Join <i class="fa fa-handshake-o"></i></button>
                </div>
                <div class="course-card" routerLink="/watch"
                    style="background-image: url('assets/places/Manali.jpg');background-size: cover;">
                    <button>Join <i class="fa fa-handshake-o"></i></button>
                </div>
                <div class="course-card" routerLink="/watch"
                    style="background-image: url('assets/places/Ladakh.jpg');background-size: cover;">
                    <button>Join <i class="fa fa-handshake-o"></i></button>
                </div>
                <div class="course-card" routerLink="/watch"
                    style="background-image: url('assets/places/Udaipur-.jpg');background-size: cover;">
                    <button>Join <i class="fa fa-handshake-o"></i></button>
                </div>
                <div class="course-card" routerLink="/watch"
                    style="background-image: url('assets/places/Gateway of India.jpg');background-size: cover;">
                    <button>Join <i class="fa fa-handshake-o"></i></button>
                </div>
            </div>
            <footer class="bottom-fixed">
                <i class="fa fa-home" routerLink="/"></i>
                <i class="fa fa-heart" routerLink="/"></i>
                <i class="fa fa-handshake-o" routerLink="/"></i>
                <i class="fa fa-user"></i>
            </footer>
        </section>
    </main>
</div>