<div class="container">
<app-fillupdetails *ngIf="closePopup" [amount]="amount" [Image]="Image" [Onclose]="closePopup" (OncloseEvent)="fetchclosePopupEvent($event)"></app-fillupdetails>


    <div class="header">
        <i class="fa fa-angle-left" routerLink="/"></i>
    </div>
    <div class="video-thumbnail">
        <video width="100%" (click)="playPauseContent()" id="classContent" (loadeddata)="checkContentLoaded()"
            (timeupdate)="checkContinuousContentduration()" frameborder="0" [poster]="videoDetails.poster"
            [src]="videoDetails.videoPath" [controls]="!videoDetails.locked"></video>
    </div>
    <div class="course-info">
        <div class="heading">
                <h2><i class="fa fa-map-marker"></i>&nbsp; {{videoDetails.title}}</h2>
        </div>

        <div class="subject-tags">
            <button class="active"><i class="fa fa-rupee"></i>2,300</button>
            <button class="active"><i class="fa fa-user-plus"></i> {{videoDetails.studentEnrolledCount}}+ People
                Joined</button>
        </div>
        <div class="subject-tags">
            <button class="active"><i class="fa fa-map-marker"></i>{{videoDetails.Location}}</button>
            <button class="active"><i class="fa fa-clock-o"></i>8:00 AM</button>
        </div>
        <div class="subject-tags">
            <button class="active"><i class="fa fa-star "></i>4.5 (98 reviews)</button>
        </div>
        
        <div class="description">
            <h3>Description</h3>
            <p>{{readMore?videoDetails.describe:videoDetails.shortDescribe}}
                <a (click)="togglereadMoreDescribe()">{{readMore?'Hide':'Read More'}}</a>
            </p>
        </div>

        

        <section class="your-courses">
            <h3>Things To See & Do</h3>
            <div class="courses">
            <img *ngFor="let data of videoDetails.Pictures" (click)="Image = 'assets/places/Matheran/' + data.poster;closePopup=!closePopup" [src]=" 'assets/places/Matheran/' + data.poster" alt="">
        </div>
        </section>
       
    </div>
    <div class="proceed" *ngIf="!closePopup">
        <button class="pay-now bottom-fixed" (click)="Image = 'assets/Matheran.jpg';closePopup=!closePopup">Book {{amount | currency :'INR'}}</button>
    </div>
</div>