.proceed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.proceed .pay-now {
    background-color: #333;
        color: #fff;
        font-weight: 900;
    cursor: pointer;
    width: 90%;
    padding: 20px;
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 25px;

    .fa {
        font-size: 15px;
        color: #fff;

    }
}

.fa {
    font-weight: 900;
}

.courses img {
    border-radius: 20px;
    height: 120px;
    margin: 20px auto;
}