<div class="container">
    <div class="header">
        <i class="fa fa-arrow-left" routerLink="/"></i>
    </div>
    <div class="video-thumbnail">
        <video width="100%" (click)="playPauseContent()" id="classContent" (loadeddata)="checkContentLoaded()"
            (timeupdate)="checkContinuousContentduration()" frameborder="0" [poster]="videoDetails.poster"
            [src]="videoDetails.videoPath" [controls]="!videoDetails.locked"></video>
    </div>
    <div class="course-info">
        <div class="heading">
            <h2>{{videoDetails.title}}</h2>
            <div class="rating">
                <p class="rating"><i class="fa fa-star"></i> 4.5 (98 reviews)</p>
            </div>
        </div>
        <div class="subject-tags">
            <button><i class="fa fa-graduation-cap"></i>{{videoDetails.author}}</button>
            <button><i class="fa fa-clock"></i> {{convertTime(contentControls.duration?contentControls.duration:'00:00')}}</button>
            <button><i class="fa fa-user-plus"></i> {{videoDetails.studentEnrolledCount}}+ Students Joined</button>
            <button><i class="fa fa-chart-line"></i>Advance Course</button>
        </div>
   
        <div class="description">
            <h3>Description</h3>
            <p>{{readMore?videoDetails.describe:videoDetails.shortDescribe}}
                <a (click)="togglereadMoreDescribe()">{{readMore?'Hide':'Read More'}}</a>
            </p>
        </div>
        
        <section class="your-courses">
            <h3>Next courses</h3>
            <div class="courses">
                <div class="course-card" routerLink="/watch">
                    <img src="assets/100.png" alt="Mobile UI UX Design">
                    <h3>Mobile UI UX Design</h3>
                    <div class="course-details">
                        <p class="rating"><i class="fa fa-star"></i> 4.8 (112 reviews)</p>
                        <p><i class="fa fa-clock"></i> 3h 50Min</p>
                    </div>
                </div>
                <div class="course-card" routerLink="/watch">
                    <img src="assets/100.png" alt="Web Design">
                    <h3>Web Design</h3>
                    <div class="course-details">
                        <p class="rating"><i class="fa fa-star"></i> 4.5 (98 reviews)</p>
                        <p><i class="fa fa-clock"></i> 2h 30Min</p>
                    </div>
                </div>
                <div class="course-card" routerLink="/watch">
                    <img src="assets/100.png" alt="Infrastructure">
                    <h3>Infrastructure</h3>
                    <div class="course-details">
                        <p class="rating"><i class="fa fa-star"></i> 4.7 (150 reviews)</p>
                        <p><i class="fa fa-clock"></i> 1h 30Min</p>
                    </div>
                </div>
                <!-- Add more course-cards routerLink="/watch" as needed -->
            </div>
        </section>
    </div>

</div>